@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply bg-black h-full
}

.Icon {
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .Icon {
    font-size: 32px;
  }
}

.section-header {
  @apply 
  w-full
  pt-6
  pb-11
  items-center
  grid-cols-2
  inline-grid
  relative
  md:px-20
  lg:px-32
  xl:px-40
  2xl:px-60
  px-10
  border-t-2
  border-neutral-800
}